:host {
  height: calc(100% - 50px - 96px);
  max-height: calc(100% - 50px - 96px);

  .container {
    border-top: 1px solid rgba(103, 58, 183, 0.16);
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    flex-grow: 1;
  }

  background: transparent linear-gradient(0deg, rgba(103, 58, 183, 0.16) 0%, #ffffff 10%, #ffffff 100%) 0% 0% no-repeat
  padding-box;
}
