<mat-toolbar color="primary">
  <mat-toolbar-row class="mean-toolbar">
    <span>{{title}}</span>
    <mat-icon class="home-icon" aria-hidden="false">book_online</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="home-body">
  <app-action-bar [categories]="categories" [tags]="tags"
                  (dateAction)="filterDateEvents($event)"
                  (categoryAction)="filterCategoryEvents($event)"
                  (tagAction)="filterTagEvents($event)"
  ></app-action-bar>
  <app-event-container-mobile [events]="events.items"></app-event-container-mobile>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="changePage($event)">
  </mat-paginator>
  <div class="spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
